---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import Title from "../../components/Title";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);

const { title, description, pubDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="bg-white text-black min-h-screen font-inter">
          <div class="max-w-5xl w-11/12 mx-auto">
            <Title>Posts</Title>
          </div>
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-5">
            {
              posts.map((post) => (
                <div class="max-w-md mx-auto mt-10">
                  <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                    <a href={"/blog/" + post.slug}>
                      <img
                        src={post.data.heroImage}
                        alt="Article Image"
                        class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
                      />
                    </a>
                    <div class="p-6">
                      <h2 class="text-2xl font-semibold mb-2">
                        <a href={"/blog/" + post.slug} class="text-black">
                          {" "}
                          {post.data.title}{" "}
                        </a>
                      </h2>
                      <p class="text-gray-600 text-sm mb-4">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
