---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-gray-100 dark:bg-gray-900">
    <Header />
    <main>
      <article class='px-4 prose mx-auto max-w-screen-md prose-a:text-blue-600 hover:prose-a:text-blue-500 bg-white rounded-lg shadow-md p-6'>
        {heroImage && <Image width={720} height={360} src={heroImage} alt='' />}
        <h1 class='text-3xl font-bold mb-2'>{title}</h1>
        <p class="text-gray-500">Posted On: <FormattedDate date={pubDate} /></p>
        {
          updatedDate && (
            <div class='italic text-gray-500'>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <hr class="my-4 border-t border-gray-300" />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
